* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  background-color: transparent;
  border: 2px solid #999;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-top-color: red;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.countdown {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.art {
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  border-radius: 20px;
}
.art p {
  width: 100px;
  padding: 10px;
  background-color: #fff;
}
